#booking-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    max-width: 380px;
    width: 100%;
}

#booking-form {
    h1 {
        text-align: center;
    }

    input[type=submit] {
        margin-top: var(--spacing-s);
    }
}