#booking-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}

#booking-form {
    fieldset {
        border: none;
        display: grid;
        gap: var(--spacing-xs);
    }

    input[type=date] {
        color: var(--color-brand-dark);
        font-family: var(--font-content);
        font-size: 1.1rem;
        font-weight: bold;
        padding: var(--spacing-s) var(--spacing-xs)
    }

    input[type=submit] {
        margin-top: var(--spacing-s);
    }
}