:where(#Home) {
    > section {
        display: grid;
        grid-column: var(--span-all);
        grid-template-columns: subgrid;
    }
    
    :where(section) > * {
        grid-column: start / end;
    }
    
    #header-nav {
        grid-column: start / end;
    }
    
    #hero {
        margin-bottom: 65px
    }
    
    #specials {
        margin-bottom: 95px
    }
    
    #testimonials {
        margin-bottom: 125px;
    }
    
    #about {
        margin-bottom: 95px;
    }
}
