.burger {
    position: relative;
}

.burger div {
    z-index: 2;
    height: 26px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger span {
    display: block;
    height: var(--border-width);
    border-radius: var(--border-width);
    background-color: var(--color-brand-dark);
    transform-origin: 0% 50%;
    transition: background-color, transform, opacity;
    transition-duration: var(--duration-m);
}

.burger span:nth-child(2) {
    transform-origin: 50% 50%;
}

.burger .open {
    position: absolute;
    display: block;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.burger:has(.open:checked) span {
    background-color: var(--color-brand-accent);
}

.burger:has(.open:checked) span:nth-child(1) {
    transform:translateX(5px) rotate(45deg) ;
}

.burger:has(.open:checked) span:nth-child(2) {
    transform: scaleX(0);
    opacity: 0;
}

.burger:has(.open:checked) span:nth-child(3) {
    transform: translateX(5px) rotate(-45deg) ;
}