.burger {
    position: relative;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

:where(.burger) {
    div {
        z-index: 2;
        height: 26px;
        width: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    span {
        display: block;
        height: var(--border-width);
        border-radius: var(--border-width);
        background-color: var(--color-brand-dark);
        transform-origin: 0% 50%;
        transition: background-color, transform, opacity;
        transition-duration: var(--duration-m);
    }
    
    span:nth-child(2) {
        transform-origin: 50% 50%;
    }
    
    :has(&[data-open=true]) span {
        background-color: var(--color-brand-accent);
    }
    
    :has(&[data-open=true]) span:nth-child(1) {
        transform:translateX(5px) rotate(45deg) ;
    }
    
    :has(&[data-open=true]) span:nth-child(2) {
        transform: scaleX(0);
        opacity: 0;
    }
    
    :has(&[data-open=true]) span:nth-child(3) {
        transform: translateX(5px) rotate(-45deg) ;
    }
}
