.button-primary {
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    padding: var(--spacing-s) var(--spacing-m);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    background: var(--color-brand-accent);
}