@use 'media-queries' as media;

#hero {
    color: white;
    grid-template-rows: auto auto;
    position: relative;
}

#hero::before {
    content: '';
    z-index: -1;
    grid-column: var(--span-all);
    grid-row: 1/2;
    position: absolute;
    inset: 0;
    background: var(--color-brand-dark);
}

#hero article {
    display: contents;
}

#hero .wrapper {
    margin-block: var(--spacing-m);
    grid-column: start / mid;
    display: grid;
    gap: var(--spacing-m);
    justify-items: start;
}

#hero::after {
    content: '';
    display: block;
    height: calc(2 * var(--spacing-m));
    grid-row: 2/3;
}

#hero img {
    position: absolute;
    top: var(--spacing-m);
    left: 0px;
    height: calc(100% - var(--spacing-m));
    width: 100%;
    display: block;
    object-fit: cover;
    grid-column: mid / end;
    grid-row: var(--span-all);
    border-radius: var(--border-radius);
}

#hero h1 {
    color: var(--color-brand-accent);
    white-space: nowrap;
}

#hero h2 {
    font-size: var(--sub-heading);
}

@include media.small-and-bellow {
    #hero {
        text-align: center;
        color: white;
        grid-template-rows: auto 400px;
    }

    #hero h1 {
        white-space: unset;
        margin-bottom: var(--spacing-s);
    }

    #hero .wrapper {
        grid-column: start / end;
    }

    #hero header, #hero a {
        margin: auto;
    }
    
    #hero img {
        grid-column: start / end;
        grid-row: 2/3;
        margin: 0;
    }

    #hero::after {
        content: unset;
    }
}