#about {
    position: relative;
    grid-column: start / end;
    grid-template-rows: var(--_s) auto auto var(--_s);
    grid-template-columns:
        [start] 50% [mid] 1fr var(--col-max-w) 1fr [end];
    min-height: clamp(360px, 50vw, 500px);
    --_s: minmax(
        calc(2 * var(--spacing-m)),
        calc(2 * var(--spacing-m))
    );
}

#about article {
    display: contents;
}

#about .wrapper {
    grid-row: var(--span-all);
    margin-left: max(0px, calc(33% - var(--spacing-xl)))
}

#about p {
    margin-right: var(--spacing-m);
    margin-top: var(--spacing-m);
    text-wrap: balance;
}

#about img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

@media (width > 790px) {
    #about::after {
        content: '';
        z-index: 1;
        grid-column: 3 / -2;
        grid-row: 2/4;
        background: var(--color-brand-dark);
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% + var(--spacing-s));
        height: calc(100% + var(--spacing-s));
        opacity: 0.75;
        mix-blend-mode: multiply;
    }

    #about img:nth-of-type(1) {
        z-index: 0;
        grid-column: mid / span 2;
        grid-row: 2/5;
        border-bottom-left-radius: var(--border-radius);
    }
    
    #about img:nth-of-type(2) {
        z-index: 2;
        grid-column: 3 / end;
        grid-row: 1/4;
        border-top-right-radius: var(--border-radius);
    }
}

#about h2 {
    color: var(--color-brand-dark);
    line-height: 0.66em;
}

#about h3 {
    color: var(--color-secondary-accent);
    margin-top: 8px;
    font-size: var(--sub-heading);
}

@media (width <= 790px) {
    #about {
        grid-template-rows: auto 1fr calc(400px);
        gap: var(--spacing-m);
    }

    #about .wrapper {
        margin-left: 0;
        grid-column: start / end;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
    }

    #about header {
        grid-column: start / end;
    }

    #about p {
        margin: 0;
        grid-column: start / end;
    }

    #about img:nth-of-type(n) {
        grid-column: start / end;
        grid-row: 3/4;
    }
    
    #about img:nth-of-type(2) {
        animation: fade 15s linear infinite;
    }
}

@keyframes fade {
    0% { opacity: 1; }
    20% { opacity: 1; }
    25% { opacity: 0; }
    70% { opacity: 0; }
    75% { opacity: 1; }
    100% { opacity: 1; }
}