#header-nav {
    grid-row: 1 / 2;
    display: flex;
    gap: var(--spacing-l);
    align-items: center;
    margin-block: var(--spacing-s);
}

#header-nav nav {
    display: contents;
}

#header-nav ul {
    display: flex;
    list-style: none;
    justify-content: end;
    width: 100%;
    gap: var(--spacing-m);
}

#header-nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-content);
    font-size: 1.2rem;
}

#header-nav .burger {
    display: none;
    z-index: 20;
    position: absolute;
    top: var(--spacing-m);
    right: var(--spacing-m);
}

@media (width < 940px) {
    #header-nav .burger {
        display: block;
    }

    #header-nav ul {
        display: flex;
        pointer-events: none;
        opacity: 0;
        position: fixed;
        z-index: 10;
        inset: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-m);
        text-align: center;
    }

    #header-nav ul::before {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        background: var(--color-brand-dark);
        opacity: 0.95;
    }
    
    #header-nav a {
        display: block;
        background: var(--color-brand-accent);
        padding: var(--spacing-s) var(--spacing-l);
        border-radius: var(--border-radius);
        color: var(--color-content);
        min-width: 13ch;
    }

    #header-nav:has(.burger .open:checked) ul {
        opacity: 1;
        pointer-events: unset;
        transition: opacity var(--duration-m);
    }

    #header-nav:has(.burger .open:checked) .burger {
        position: fixed;
    }
}