@use 'media-queries' as media;

#root {
    display: grid;
    column-gap: var(--spacing-m);
    grid-template-columns:
        1fr
        [start] 
        repeat(6, var(--col-w))
        [mid]
        repeat(6, var(--col-w))
        [end]
        1fr;

    --col-w: minmax(0, var(--col-max-w));
    --col-max-w: 54px;
}

@include media.medium-and-bellow {
    #root {
        grid-template-columns:
            1fr
            [start] 
            repeat(3, var(--col-w))
            [mid]
            repeat(3, var(--col-w))
            [end]
            1fr;
    
        --col-w: minmax(0,auto);
    }
}

#header-nav {
    grid-column: start / end;
}

main {
    display: contents;
}