#specials {
    grid-template-rows: auto 200px repeat(3, auto);
}

#specials > .wrapper {
    grid-column: start / end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-m) var(--spacing-l);
    margin-bottom: var(--spacing-l);
}

#specials article {
    grid-column: span 4;
    grid-row: 2 / -1;
    background: var(--color-secondary-light);
    display: grid;
    column-gap: var(--spacing-m);
    grid-template-rows: subgrid;
    grid-template-columns: 1fr auto;
    border-radius: 
        var(--border-radius)
        var(--border-radius)
        0 0;
    overflow: hidden;
}

#specials article .wrapper {
    display: grid;
    padding: var(--spacing-m);
    row-gap: var(--spacing-m);
    grid-template-columns: 1fr auto;
}

#specials h2 {
    text-align: center;
}

#specials h3 {
    font-size: var(--heading-2);
    align-self: center;
}

#specials article :where(img, p, a){
    grid-column: span 2;
}

#specials .price {
    justify-self: flex-end;
    align-self: center;
    font-weight: bold;
    color: var(--color-secondary-accent);
    font-size: 1.1em;
}

#specials article:first-of-type {
    grid-column: start / span 4;
}

#specials article > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#specials .order-link {
    justify-self: start;
}

@media (width > 940px) {
    #specials article .wrapper {
        grid-row: 2/-1;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
    }
}

@media (width > 940px) or (width < 690px) {
    #specials article .wrapper {
        grid-column: var(--span-all);
    }
}

@media (width < 940px) {
    #specials {
        grid-template-rows: auto;
    }

    #specials article {
        margin-bottom: var(--spacing-l);
        width: 100%;
        max-width: 750px;
        margin-inline: auto;
    }

    #specials article:nth-of-type(n) {
        grid-column: 2 / -2;
        grid-row: auto;
        grid-template-rows: auto;
    }

    #specials > .wrapper {
        flex-direction: column;
    }

    #specials .price {
        align-self: start;
    }
}

@media (690px <= width < 940px) {

    #specials article:nth-of-type(n) {
        grid-row: auto;
        grid-template-rows: auto;
    }

    #specials article {
        grid-template-columns: 250px auto;
        column-gap: 0;
        border-radius: 
            var(--border-radius)
            0 0
            var(--border-radius);
    }

    #specials article .wrapper {
        column-gap: var(--spacing-m);
    }

    #specials img {
        grid-column: 1 / 2;
        grid-row: 1/ span 4;
    }
}

@media (width < 690px) {
    #specials article {
        max-width: 400px;
    }
}